doctype html
html
    head
    body
        block header
            include header/header

        .container.container--main
            main.content
                block content

        block main
            include main/main
        block footer
            include footer/footer

