div.container.header--container
    div.row
        div.col-xs-4.header--col Adieu
        div.col-xs-4.header--col Pandora
        div.col-xs-4.header--col #CortoMaltese

div test link

button(type="button" class="btn btn-default" aria-label="Left Align") click here

button(type="button" class="btn btn-default btn-lg") UPDATE

div(class="fa fa-hand-spock-o fa-1g") Say Hello to my little friend: rat-ta-ta-ta-ta-ta

